Repository FajarKim/github-readme-profile, changes with the labels that .github/labeler.yml gives for each.
All labels: card, card-i18n, ci, dependencies, doc-translation, doc-theme, documentation, github_actions, stats-card, themes

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version (#806)
  package-lock.json
  package.json
Labels: dependencies

feat: add middleware to proxy requests to external generator
  middleware.ts
  vercel.json
Labels: none

feat: add middleware to proxy requests to external generator (#911)
  middleware.ts
  vercel.json
Labels: none

fix(middleware): exclude `/themes` and `/i18n` from proxy
  middleware.ts
Labels: none

fix(middleware): add matcher for exclude `/themes` and `/i18n`
  middleware.ts
Labels: none

fix(middleware): exclude `/themes` and `/i18n` from proxy (#917)
  middleware.ts
Labels: none

chore: update funding configuration
  .github/FUNDING.yml
Labels: github_actions

docs: remove GitHub Sponsor link and add PayPal and Saweria links
  README.md
Labels: documentation

chore: update funding configuration (#918)
  .github/FUNDING.yml
Labels: github_actions

docs: remove GitHub Sponsor link and add PayPal and Saweria links (#919)
  README.md
Labels: documentation

docs: improve README with comprehensive feature descriptions and better readability
  README.md
Labels: documentation

docs: fix description for option
  README.md
Labels: documentation

docs: improve README with comprehensive feature descriptions and better readability (#920)
  README.md
Labels: documentation

docs: improve CONTRIBUTING with comprehensive descriptions and better readability
  CONTRIBUTING.md
Labels: documentation

docs: improve CONTRIBUTING with comprehensive descriptions and better readability (#921)
  CONTRIBUTING.md
Labels: documentation

docs: update security documentation with comprehensive guidelines
  SECURITY.md
Labels: documentation

docs(security): add note about generator CAPTCHA protection
  SECURITY.md
Labels: documentation

docs: update security documentation with comprehensive guidelines (#922)
  SECURITY.md
Labels: documentation

docs: use backticks for file references in README
  README.md
Labels: documentation

chore(docs): replace punctuation
  CONTRIBUTING.md
Labels: documentation

docs: update Code of Conduct to Contributor Covenant v3
  CODE_OF_CONDUCT.md
Labels: documentation

docs: update Code of Conduct to Contributor Covenant v3 (#923)
  CODE_OF_CONDUCT.md
Labels: documentation

refactor: replace middleware proxy with Vercel rewrites
  middleware.ts
  vercel.json
Labels: none

refactor: replace middleware proxy with Vercel rewrites (#924)
  middleware.ts
  vercel.json
Labels: none

refactor(themes): group themes into solid and gradient categories
  themes/index.ts
Labels: themes

refactor(themes): group themes into solid and gradient categories (#928)
  themes/index.ts
Labels: themes

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version (#930)
  package-lock.json
  package.json
Labels: dependencies

chore: remove `always-auth` from `.npmrc` to suppress warnings
  .npmrc
Labels: none

chore: remove `always-auth` from `.npmrc` to suppress warnings (#935)
  .npmrc
Labels: none

chore: simplify `vercel.json` functions configuration
  vercel.json
Labels: none

chore: simplify `vercel.json` functions configuration (#936)
  vercel.json
Labels: none

chore(dependabot): update schedule to use cron
  .github/dependabot.yml
Labels: github_actions

chore(dependabot): update schedule to use cron (#937)
  .github/dependabot.yml
Labels: github_actions

chore(workflows): update schedule for auto bump action
  .github/workflows/auto-build-pkg.yml
Labels: ci, github_actions

chore(workflows): update schedule for auto bump action (#938)
  .github/workflows/auto-build-pkg.yml
Labels: ci, github_actions

.github/labeler.yml:

card:
  - changed-files:
      - any-glob-to-any-file:
          - "src/card.ts"

card-i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "src/translations.ts"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - "scripts/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"

doc-translation:
  - changed-files:
      - any-glob-to-any-file:
          - "i18n/README.md"

doc-theme:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/README.md"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CONTRIBUTING.md"
          - "CODE_OF_CONDUCT.md"
          - "SECURITY.md"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/*.yml"
          - ".github/workflows/*"

stats-card:
  - changed-files:
      - any-glob-to-any-file:
          - "api/index.ts"
          - "src/fetcher/*"

themes:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/index.ts"
