Repository FajarKim/github-readme-profile, changes with the labels that .github/labeler.yml gives for each.
All labels: card, card-i18n, ci, dependencies, doc-translation, doc-theme, documentation, github_actions, stats-card, themes

refactor(card): simplify card generation
  src/card.ts
Labels: card

Fixed issues from DeepScan
  src/card.ts
Labels: card

Fixed method for retrieving locale data
  src/card.ts
Labels: card

refactor(card): simplify card generation (#939)
  src/card.ts
Labels: card

refactor(card): add SVG minification to reduce response size
  package-lock.json
  package.json
  src/card.ts
Labels: card, dependencies

Add types definition for `html-minifier-terser`
  package-lock.json
  package.json
Labels: dependencies

refactor(card): add SVG minification to reduce response size (#940)
  package-lock.json
  package.json
  src/card.ts
Labels: card, dependencies

refactor(card): positioning logic into config object
  src/card.ts
Labels: card

refactor(card): positioning logic into config object (#941)
  src/card.ts
Labels: card

refactor(card): locale selection to use fallback logic
  src/card.ts
Labels: card

refactor(card): locale selection to use fallback logic (#942)
  src/card.ts
Labels: card

chore: update `.npmrc.bak` with fixed registry configuration
  .npmrc.bak
Labels: none

chore: update `.npmrc.bak` with fixed registry configuration (#943)
  .npmrc.bak
Labels: none

chore: update ESLint configuration for ES6 and parser options
  .eslintrc.json
Labels: none

[CodeFactor] Apply fixes to commit 397695e
  src/card.ts
Labels: card

fix: replace any types with proper NodeJS process.env type in getToken.ts
  src/getToken.ts
Labels: none

fix: replace any types with proper NodeJS `process.env` type in `getToken.ts` (#945)
  src/getToken.ts
Labels: none

fix: remove `any` types
  api/index.ts
  scripts/generate-translation-doc.ts
  src/card.ts
  src/fetcher/repositoryStats.ts
  src/getData.ts
  tests/renderStatsCard.test.ts
Labels: card, ci, stats-card

Fixes error
  api/index.ts
  src/common/utils.ts
  tests/renderStatsCard.test.ts
Labels: stats-card

fix: remove `any` types to fix type errors (#946)
  api/index.ts
  scripts/generate-translation-doc.ts
  src/card.ts
  src/common/utils.ts
  src/fetcher/repositoryStats.ts
  src/getData.ts
Labels: card, ci, stats-card

Change no-explicit-any rule from error to warn
  .eslintrc.json
Labels: none

chore: update ESLint configuration for ES6 and parser options (#944)
  .eslintrc.json
  src/card.ts
Labels: card

refactor(getData): image fetching to use import syntax
  src/getData.ts
Labels: none

refactor(getData): image fetching to use import syntax (#947)
  src/getData.ts
Labels: none

build: promote multiple packages from `devDependencies` to `dependencies`
  package-lock.json
  package.json
Labels: dependencies

build: promote multiple packages from `devDependencies` to `dependencies` (#948)
  package-lock.json
  package.json
Labels: dependencies

fix(card): spacing issues in the followers and following text due to minification
  src/card.ts
Labels: card

fix(card): spacing issues in the followers and following text due to minification
  src/card.ts
Labels: card

chore: update description field in `package.json`
  package.json
Labels: dependencies

docs: delete manual typescript install step in Vercel **Build & Output Settings**
  README.md
Labels: documentation

docs: delete manual typescript install step in Vercel "Build & Output Settings" (#951)
  README.md
Labels: documentation

chore(release): v1.1.3
  package-lock.json
  package.json
Labels: dependencies

chore(release): v1.1.3 (#952)
  package-lock.json
  package.json
Labels: dependencies

build: migrate tsconfig to `NodeNext` module resolution
  tsconfig.json
Labels: none

build: include `jest` types and add `isolatedModules` in tsconfig
  tsconfig.json
Labels: none

fix(ci): add `--head` flag to `gh pr create` command
  .github/workflows/auto-build-pkg.yml
Labels: ci, github_actions

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version (#966)
  package-lock.json
  package.json
Labels: dependencies

feat: add Netlify deployment support
  netlify.toml
  netlify/functions/api.ts
Labels: none

feat: add Netlify deployment support (#967)
  netlify.toml
  netlify/functions/api.ts
Labels: none

.github/labeler.yml:

card:
  - changed-files:
      - any-glob-to-any-file:
          - "src/card.ts"

card-i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "src/translations.ts"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - "scripts/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"

doc-translation:
  - changed-files:
      - any-glob-to-any-file:
          - "i18n/README.md"

doc-theme:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/README.md"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CONTRIBUTING.md"
          - "CODE_OF_CONDUCT.md"
          - "SECURITY.md"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/*.yml"
          - ".github/workflows/*"

stats-card:
  - changed-files:
      - any-glob-to-any-file:
          - "api/index.ts"
          - "src/fetcher/*"

themes:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/index.ts"
