Repository FajarKim/github-readme-profile, changes with the labels that .github/labeler.yml gives for each.
All labels: card, card-i18n, ci, dependencies, doc-translation, doc-theme, documentation, github_actions, stats-card, themes

.github/labeler.yml:

card:
  - changed-files:
      - any-glob-to-any-file:
          - "src/card.ts"

card-i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "src/translations.ts"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - "scripts/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"

doc-translation:
  - changed-files:
      - any-glob-to-any-file:
          - "i18n/README.md"

doc-theme:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/README.md"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CONTRIBUTING.md"
          - "CODE_OF_CONDUCT.md"
          - "SECURITY.md"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/*.yml"
          - ".github/workflows/*"

stats-card:
  - changed-files:
      - any-glob-to-any-file:
          - "api/index.ts"
          - "src/fetcher/*"

themes:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/index.ts"

refactor: add `.vercleignore` file
  .vercelignore
Labels: none

ci(test): install `@netlify/functions` dependency
  .github/workflows/test.yml
Labels: ci, github_actions

chore(funding): include GitHub sponsor profile
  .github/FUNDING.yml
Labels: github_actions

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version (#985)
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version (#1004)
  package-lock.json
  package.json
Labels: dependencies
