Repository FajarKim/github-readme-profile, changes with the labels that .github/labeler.yml gives for each.
All labels: card, card-i18n, ci, dependencies, doc-translation, doc-theme, documentation, github_actions, stats-card, themes

scripts: add `millify` module
  scripts/generate-translation-doc.ts
Labels: ci

scripts: remove `millify` module
  scripts/generate-translation-doc.ts
Labels: ci

docs(i18n): auto update translation readme
  i18n/README.md
Labels: doc-translation

docs(i18n): auto update translation readme (#483)
  i18n/README.md
Labels: doc-translation

scripts: remove hastag in hex color code
  scripts/generate-translation-doc.ts
Labels: ci

docs(i18n): auto update translation readme
  i18n/README.md
Labels: doc-translation

docs(i18n): auto update translation readme (#484)
  i18n/README.md
Labels: doc-translation

chore: set cache duration to 2 hours for stats card
  api/index.ts
Labels: stats-card

chore: add Vercel config for 2-hour cache on stats endpoint
  vercel.json
Labels: none

chore: remove custom cache header on error response
  api/index.ts
Labels: stats-card

tests: remove custom cache header on error response
  tests/renderStatsCard.test.ts
Labels: none

tests: set cache duration to 2 hours for stats card
  tests/renderStatsCard.test.ts
Labels: none

chore: set dynamic title and filename for PNG format
  api/index.ts
Labels: stats-card

chore: remove dynamic title and filename for PNG format
  api/index.ts
Labels: stats-card

Refactor README theme generation logic
  scripts/generate-theme-doc.ts
Labels: ci

feat: add new format xml support
  api/index.ts
Labels: stats-card

update file
  api/index.ts
Labels: stats-card

update file
  api/index.ts
Labels: stats-card

update file
  api/index.ts
Labels: stats-card

update file
  api/index.ts
Labels: stats-card

refactor: README theme generation logic (#485)
  scripts/generate-theme-doc.ts
Labels: ci

feat: add new format `xml` (#486)
  api/index.ts
Labels: stats-card

docs: update README to include XML format option
  README.md
Labels: documentation

docs: update README to include XML format option (#487)
  README.md
Labels: documentation

ci: use environment variable for Codecov token in GitHub Actions workflow
  .github/workflows/test.yml
Labels: ci, github_actions

ci: use environment variable for Codecov token in workflows (#488)
  .github/workflows/test.yml
Labels: ci, github_actions

test: update jest config to include i18n directory
  jest.config.json
Labels: none

test: add performance test for code in GitHub stats fetcher file
  tests/renderStatsCard.test.ts
Labels: none

chore: update test file
  tests/renderStatsCard.test.ts
Labels: none

chore: update test file
  tests/renderStatsCard.test.ts
Labels: none

test: update jest config to include i18n directory
  jest.config.json
Labels: none

test: add stats fetcher test
  tests/stats.test.ts
Labels: none

update file
  tests/stats.test.ts
Labels: none

update file
  tests/stats.test.ts
Labels: none

update file
  tests/stats.test.ts
Labels: none

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

Create CNAME
  CNAME
Labels: none

ci: change environment variable
  .github/workflows/test.yml
Labels: ci, github_actions

build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

.github/labeler.yml:

card:
  - changed-files:
      - any-glob-to-any-file:
          - "src/card.ts"

card-i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "src/translations.ts"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - "scripts/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"

doc-translation:
  - changed-files:
      - any-glob-to-any-file:
          - "i18n/README.md"

doc-theme:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/README.md"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CONTRIBUTING.md"
          - "CODE_OF_CONDUCT.md"
          - "SECURITY.md"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/*.yml"
          - ".github/workflows/*"

stats-card:
  - changed-files:
      - any-glob-to-any-file:
          - "api/index.ts"
          - "src/fetcher/*"

themes:
  - changed-files:
      - any-glob-to-any-file:
          - "themes/index.ts"
