Repository FajarKim/github-readme-profile, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n, documentation, dependencies, stats-card, ci

ci(top-issues-dashboard): remove filter number issue/pull
  .github/workflows/top-issues-dashboard.yml
Labels: ci

docs(theme): remove add theme link
  themes/README.md
Labels: none

docs(readme): fixed link to manual customization
  README.md
Labels: documentation

docs(readme): fixed typo for license name
  README.md
Labels: documentation

feat: Added catppuccin-latte, catppuccin-frappe, catppuccin-macchiato, and catppuccin-mocha
  themes/README.md
  themes/index.ts
Labels: themes

docs(readme): fixed link contributors list
  README.md
Labels: documentation

ci: Added pull requests template
  .github/pull_request_template.md
Labels: none

feat: Added vue and vue-dark theme
  themes/README.md
  themes/index.ts
Labels: themes

ci(bug-report-template): fixed typo
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

dependencies: Bump lockfileVersion from 1 to 2
  package-lock.json
Labels: dependencies

feat: Added github_dark and github_dark_dimmed themes
  themes/README.md
  themes/index.ts
Labels: themes

docs(readme): Added donation
  .github/FUNDING.yml
  README.md
Labels: documentation

docs(readme): fixed text formatting for #gh-light-mode-only and #gh-dark-mode-only
  README.md
Labels: documentation

feat: Added stroke color for catppucin themes
  themes/index.ts
Labels: themes

fix: update border color for github themes
  themes/index.ts
Labels: themes

feat: Added github_light theme
  themes/README.md
  themes/index.ts
Labels: themes

feat: Added github_light theme
  themes/README.md
  themes/index.ts
Labels: themes

feat: Added whatsapp-light and whatsapp-dark themes
  themes/README.md
  themes/index.ts
Labels: themes

feat: Added whatsapp-light and whatsapp-dark themes
  themes/README.md
  themes/index.ts
Labels: themes

feat: Added buefy and buefy-dark themes
  src/api/index.ts
  themes/README.md
  themes/index.ts
Labels: themes, stats-card

feat: Added buefy and buefy-dark themes
  src/api/index.ts
  themes/README.md
  themes/index.ts
Labels: themes, stats-card

fix: add export default for themes
  themes/index.ts
Labels: themes

fix: error for import themes
  src/api/index.ts
Labels: stats-card

fix: error for import themes
  src/api/index.ts
  themes/index.ts
Labels: themes, stats-card

feat: Added solarized-light and solarized-dark themes
  themes/README.md
  themes/index.ts
Labels: themes

docs(theme): fixed table preview themes
  themes/README.md
Labels: none

feat: Added solarized-light and solarized-dark themes (#19)
  themes/README.md
  themes/index.ts
Labels: themes

fix: text and icon color for whatsapp-light themes
  themes/index.ts
Labels: themes

feat: Added vision-friendly-dark and deuteranopia-friendly-dark themes
  themes/README.md
  themes/index.ts
Labels: themes

feat: Added vision-friendly-dark and deuteranopia-friendly-dark themes (#20)
  themes/README.md
  themes/index.ts
Labels: themes

feat: Added error message card
  src/api/index.ts
  src/src/utils.ts
Labels: stats-card

fix: error message card could not import
  src/api/index.ts
  src/src/utils.ts
Labels: stats-card

fix: error message card could not import
  src/src/utils.ts
Labels: none

fix: removed error message card
  src/api/index.ts
  src/src/utils.ts
Labels: stats-card

feat: Added locale option
  README.md
  src/api/index.ts
  src/src/card.ts
  src/src/translations.ts
Labels: card-i18n, documentation, stats-card

fix: error for could import locales
  src/src/card.ts
  src/src/translations.ts
Labels: card-i18n

fix: error for could import locales
  src/src/translations.ts
Labels: card-i18n

fix: error for could import locales
  src/src/card.ts
Labels: none

docs(readme): fixed small typo
  README.md
Labels: documentation

feat: Added locale option (#21)
  README.md
  src/api/index.ts
  src/src/card.ts
  src/src/translations.ts
Labels: card-i18n, documentation, stats-card

.github/labeler.yml:

themes: themes/index.ts
doc-translation: docs/*
card-i18n:
  - src/src/translations.ts
documentation:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
dependencies:
  - package.json
  - package-lock.json
  - tsconfig.ts
stats-card:
  - src/api/index.ts
  - src/src/apiFetch.ts
  - src/src/repositoryFetch.ts
ci:
  - .github/workflows/*
  - scripts/*
