Repository FajarKim/github-readme-profile, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n, documentation, dependencies, stats-card, ci

.github/labeler.yml:

themes: themes/index.ts
doc-translation: docs/*
card-i18n:
  - src/src/translations.ts
documentation:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
dependencies:
  - package.json
  - package-lock.json
  - tsconfig.ts
stats-card:
  - src/api/index.ts
  - src/src/apiFetch.ts
  - src/src/repositoryFetch.ts
ci:
  - .github/workflows/*
  - scripts/*

feat: Added Indonesian translation
  README.md
  src/src/translations.ts
Labels: card-i18n, documentation

feat: Added Indonesian translation (#22)
  README.md
  src/src/translations.ts
Labels: card-i18n, documentation

feat: Added Korean translation
  README.md
  src/src/translations.ts
Labels: card-i18n, documentation

docs(readme): fixed table for available locales
  README.md
Labels: documentation

feat: Added Korean translation (#23)
  README.md
  src/src/translations.ts
Labels: card-i18n, documentation

fix: updated icon for contributed to
  src/src/card.ts
Labels: none

docs(readme): fixed small typo
  README.md
Labels: documentation

feat: Added Arabic translation
  README.md
  src/src/translations.ts
Labels: card-i18n, documentation

feat: Added rtl for translations
  src/src/card.ts
  src/src/translations.ts
Labels: card-i18n

fix: error for import translation
  src/src/translations.ts
Labels: card-i18n

fix: error for import translation
  src/src/card.ts
  src/src/translations.ts
Labels: card-i18n

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/translations.ts
Labels: card-i18n

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
  src/src/translations.ts
Labels: card-i18n

fix: error for import translation
  src/src/translations.ts
Labels: card-i18n

fix: error for import translation
  src/src/translations.ts
Labels: card-i18n

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
Labels: none

fix: error for import translation
  src/src/card.ts
Labels: none

feat: Added Arabic translation (#24)
  README.md
  src/src/card.ts
  src/src/translations.ts
Labels: card-i18n, documentation

fix: updated icon for contributed to
  src/src/card.ts
Labels: none

fix: updated icon for total repository
  src/src/card.ts
Labels: none

fix: updated icon for star, fork, and commit count
  src/src/card.ts
Labels: none

fix: updated icon for total pull requests
  src/src/card.ts
Labels: none

fix: animation duration for list stats
  src/src/card.ts
Labels: none

fix: update structure files
  api/index.ts
  package.json
  src/card.ts
  src/fetcher/apiFetch.ts
  src/fetcher/repositoryFetch.ts
  src/getData.ts
  src/getRandomToken.ts
  src/translations.ts
  tsconfig.json
  vercel.json
  withexpress.ts
Labels: dependencies

docs(readme): update step-by-step for deploying in Vercel
  README.md
Labels: documentation

docs(readme): fixed small typo
  README.md
Labels: documentation

docs: update link on vercel
  README.md
  themes/README.md
Labels: documentation
