Repository FajarKim/github-readme-profile, pull requests merged in 2023-12, with the labels that each got.

#173 feat(theme): Added iceberg theme
  themes/index.ts
Labels: themes

#174 feat(i18n): Added Portuguese (Brazil) translation
  src/translations.ts
Labels: card-i18n

#175 chore(release): v1.0.7
  package-lock.json
  package.json
Labels: dependencies

#176 feat(theme): Added laederon theme
  themes/index.ts
Labels: themes

#177 feat(theme): Added zenburn theme
  themes/index.ts
Labels: themes

#178 feat(theme): Added bluloco and bluloco-dark themes
  themes/index.ts
Labels: themes

#183 docs(readme): improve query options appereance using tables
  README.md
Labels: documentation

#184 chore(release): v1.0.8-beta.0
  package-lock.json
  package.json
Labels: dependencies

#193 feat(theme): Added neon-palenight theme
  themes/index.ts
Labels: themes

#194 feat(theme): Added neon-blurange theme
  themes/index.ts
Labels: themes

#200 feat(theme): Added kanagawa and kanagawa_light themes
  themes/index.ts
Labels: themes

#202 feat(themes): Added space and space_light themes
  themes/index.ts
Labels: themes

#206 chore(release): v1.0.8-beta.1
  package-lock.json
  package.json
Labels: dependencies

#207 docs(readme): Added badge join to community
  README.md
Labels: documentation
