Repository FajarKim/github-readme-profile, pull requests merged in 2023-10, with the labels that each got.

#12 feat: Added catppuccin-latte, catppuccin-frappe, catppuccin-macchiato, and catppuccin-mocha
  themes/README.md
  themes/index.ts
Labels: themes

#13 feat: Added vue and vue-dark theme
  themes/README.md
  themes/index.ts
Labels: themes

#16 feat: Added github_light theme
  themes/README.md
  themes/index.ts
Labels: themes

#17 feat: Added whatsapp-light and whatsapp-dark themes
  themes/README.md
  themes/index.ts
Labels: themes

#18 feat: Added buefy and buefy-dark themes
  src/api/index.ts
  themes/README.md
  themes/index.ts
Labels: themes, stats-card

#19 feat: Added solarized-light and solarized-dark themes
  themes/README.md
  themes/index.ts
Labels: themes

#20 feat: Added vision-friendly-dark and deuteranopia-friendly-dark themes
  themes/README.md
  themes/index.ts
Labels: themes

#21 feat: Added locale option
  README.md
  src/api/index.ts
  src/src/card.ts
  src/src/translations.ts
Labels: documentation, stats-card, card-i18n

#22 feat: Added Indonesian translation
  README.md
  src/src/translations.ts
Labels: documentation, card-i18n

#23 feat: Added Korean translation
  README.md
  src/src/translations.ts
Labels: documentation, card-i18n

#24 feat: Added Arabic translation
  README.md
  src/src/card.ts
  src/src/translations.ts
Labels: documentation, card-i18n

#25 feat: Added Japanese translation
  README.md
  src/translations.ts
Labels: documentation, card-i18n

#26 feat: Added French translation
  README.md
  src/translations.ts
Labels: documentation, card-i18n

#31 feat: Added border_width option
  api/index.ts
  src/card.ts
Labels: stats-card, card, hacktoberfest-accepted

#32 feat: Added border_radius option
  api/index.ts
  src/card.ts
Labels: stats-card, card, hacktoberfest-accepted

#33 docs(readme): Added description of border_width and border_radius option
  README.md
Labels: documentation, hacktoberfest-accepted

#34 docs(readme): Added contributions and link to guidelines
  README.md
Labels: documentation

#35 docs(readme): update link to view license
  README.md
Labels: documentation, hacktoberfest-accepted

#36 Bump @fajarkim/github-readme-profile from 1.0.0 to 1.0.1
  package-lock.json
  package.json
Labels: dependencies, hacktoberfest-accepted

#37 feat: Added format png option
  api/index.ts
  package-lock.json
  package.json
Labels: dependencies, stats-card, hacktoberfest-accepted

#38 change: update card style if format png
  api/index.ts
Labels: stats-card, hacktoberfest-accepted

#39 feat: Added disabled_animations option
  api/index.ts
  package-lock.json
  src/card.ts
Labels: dependencies, stats-card, card, hacktoberfest-accepted

#47 change: update card style if disabled_animations is true
  src/card.ts
Labels: card, hacktoberfest-accepted

#48 feat: Added hex color code checker and parse boolean
  api/index.ts
  src/card.ts
  src/common/utils.ts
Labels: stats-card, card, hacktoberfest-accepted

#49 fix: update bug convert svg to png
  api/index.ts
  src/card.ts
Labels: stats-card, card, hacktoberfest-accepted

#50 docs(readme): Added description of format and disabled_animations options
  README.md
Labels: documentation, hacktoberfest-accepted

#51 docs(readme): update link for ISO 639-1 standard
  README.md
Labels: documentation, hacktoberfest-accepted

#52 change: fixed small typo
  api/index.ts
  src/fetcher/repositoryFetch.ts
Labels: stats-card, hacktoberfest-accepted

#53 infra(dependabot): configure commits message and reviewers
  .github/dependabot.yml
Labels: github_actions, ci, hacktoberfest-accepted

#56 infra(lebeler): added github_actions label
  .github/labeler.yml
Labels: github_actions, ci, hacktoberfest-accepted

#58 infra(workflows): Added dependabot auto merge pull request
  .github/workflows/dependabot-auto-merge-pull-requests.yml
  .github/workflows/pr-dependabot-approval.yaml
Labels: ci, hacktoberfest-accepted, github-actions

#59 infra(workflows): Added dependabot auto merge pull request
  .github/workflows/dependabot-auto-merge.yml
Labels: ci, github-actions

#60 Bumps @fajarkim/github-readme-profile from 1.0.1 to 1.0.2
  .github/workflows/dependabot-auto-merge-pull-requests.yml
  package-lock.json
  package.json
Labels: dependencies, github_actions, ci, hacktoberfest-accepted

#62 feat: Added icon item pack and simplifying code for card
  src/card.ts
  src/icons.ts
Labels: card, hacktoberfest-accepted

#63 feat: Added hide items option
  api/index.ts
  src/card.ts
Labels: enhancement, stats-card, card, hacktoberfest-accepted

#64 refactor: Revise code for improved readability and maintainability
  api/index.ts
  package-lock.json
  package.json
  withexpress.ts
Labels: dependencies, stats-card, hacktoberfest-accepted

#65 docs(readme): update link preview card
  README.md
Labels: documentation, hacktoberfest-accepted

#66 feat: Added show items option
  api/index.ts
  src/card.ts
  src/fetcher/apiFetch.ts
  src/getData.ts
  src/icons.ts
  src/translations.ts
Labels: enhancement, stats-card, card-i18n, card, hacktoberfest-accepted

#67 feat: Added Indonesian translation for review, issues closed, discuss…
  src/translations.ts
Labels: card-i18n, hacktoberfest-accepted

#68 chore: update animation for image profile
  src/card.ts
Labels: card, hacktoberfest-accepted

#69 feat: Added gradient background color
  api/index.ts
  src/card.ts
  src/common/utils.ts
Labels: stats-card, card

#73 infra(dependabot-auto-merge): removed workflows dependabot-auto-merge
  .github/workflows/dependabot-auto-merge.yml
Labels: github_actions, ci

#74 chore: change whatsapp-light and whatsapp-dark color themes
  themes/index.ts
Labels: themes, hacktoberfest-accepted

#75 feat: Added Korean translation for review, issues closed, discussions started and answered
  src/translations.ts
Labels: card-i18n, hacktoberfest-accepted

#76 infra(dependabot): removed reviewers rules
  .github/dependabot.yml
Labels: github_actions, hacktoberfest-accepted
