Repository FajarKim/github-readme-profile, pull requests merged in 2023-11, with the labels that each got.

#78 infra(dependabot): configure day schedule for check packages
  .github/dependabot.yml
Labels: github_actions

#79 infra: removed stale theme pr closer workflows
  .github/workflows/stale-theme-pr-closer.yaml
Labels: github_actions, ci

#83 refactor: revise code for improved readability and maintainability
  README.md
  api/index.ts
  package-lock.json
  package.json
  src/card.ts
Labels: documentation, dependencies, stats-card, card

#84 style: prettier format
  README.md
  api/index.ts
Labels: documentation, stats-card

#85 refactor: fixed small typo in the code
  src/card.ts
Labels: card

#86 refactor: revise code for improved readability and maintainability
  src/common/utils.ts
  src/fetcher/apiFetch.ts
  src/fetcher/repositoryFetch.ts
  src/getData.ts
Labels: stats-card

#88 chore: change module svg2img to @fajarkim/svg2img
  api/index.ts
  package-lock.json
  package.json
Labels: dependencies, stats-card

#89 build(deps): change @fajarkim/svg2img from devDependencies to dependencies
  package-lock.json
  package.json
Labels: dependencies

#90 infra(mergify): added automatic merge dependabot pull request
  .github/mergify.yml
Labels: github_actions

#91 ci: added test github action workflow file
  .github/workflows/test.yml
Labels: github_actions, ci

#92 docs(readme): added description for gradient color setting
  README.md
Labels: documentation

#93 infra(dependabot): remove schedule day rule
  .github/dependabot.yml
Labels: github_actions

#94 build(deps): Bumps @fajarkim/svg2img from 0.0.1 to 0.0.1-beta.0
  package-lock.json
  package.json
Labels: dependencies

#95 feat: Added Japanese translation for review, issues closed, discussions started and answered
  src/translations.ts
Labels: card-i18n

#96 fix: Updated Korean translation for issues, discussions started and answered
  src/translations.ts
Labels: card-i18n

#97 Bumps @fajarkim/github-readme-profile from 1.0.2 to 1.0.3
  package-lock.json
  package.json
Labels: dependencies

#100 infra(mergify): deleted rules for automatic merged prs
  .github/mergify.yml
Labels: github_actions

#101 feat: Added script auto generate theme readme
  .github/workflows/generate-theme-doc.yml
  package.json
  scripts/generate-theme-doc.ts
Labels: dependencies, github_actions, ci

#102 feat: Added garden theme
  themes/index.ts
Labels: themes

#103 ci(workflows): fixed generate theme readme
  .github/workflows/generate-theme-doc.yml
Labels: github_actions, ci

#104 feat: Added shadow_red, shadow_green, and shadow_blue themes
  themes/index.ts
Labels: themes

#106 fix: Updated shadow_red, shadow_green, and shadow_blue themes
  themes/index.ts
Labels: themes

#107 feat: Added shadow_purple theme
  themes/index.ts
Labels: themes

#108 feat: Added shadow_orange theme
  themes/index.ts
Labels: themes

#109 feat: Added shadow_brown theme
  themes/index.ts
Labels: themes, hacktoberfest-accepted

#110 fix: update script for generate theme readme
  scripts/generate-theme-doc.ts
Labels: ci

#111 docs(readme): added link to page locale list code
  README.md
Labels: documentation

#112 docs(contributing): update contributions guidelines
  CONTRIBUTING.md
Labels: documentation

#113 feat: Added script auto generate translation readme
  .github/workflows/generate-locale-doc.yml
  README.md
  docs/translations.md
  package.json
  scripts/generate-theme-doc.ts
  scripts/generate-translation-doc.ts
  scripts/languageNames.ts
  scripts/push-locale-readme.sh
Labels: documentation, dependencies, github_actions, ci, doc-translation

#114 feat: Added French translation for review and issues closed
  src/translations.ts
Labels: card-i18n

#115 feat: Added sunset-gradient, ocean-gradient, and ambient-gradient themes
  themes/index.ts
Labels: themes

#116 feat: Added hide_stroke option
  api/index.ts
  src/card.ts
Labels: stats-card, card

#117 feat: Added hide_border option
  api/index.ts
  src/card.ts
Labels: stats-card, card

#124 build: update package npm version
  package-lock.json
  package.json
Labels: dependencies

#125 build(deps): bump @fajarkim/svg2img from 0.0.1-beta.0 to 0.0.2
  package-lock.json
  package.json
Labels: dependencies

#126 docs(readme): Added description of hide_border and hide_stroke options
  README.md
Labels: documentation

#127 fix: Exception text reinterpreted as HTML
  api/index.ts
  package-lock.json
  package.json
Labels: dependencies, stats-card

#129 fix: Server-side request forgery
  src/fetcher/repositoryFetch.ts
Labels: stats-card

#130 refactor: revise code and add descriptions and comments
  .env.example
  api/index.ts
  scripts/generate-theme-doc.ts
  scripts/generate-translation-doc.ts
  scripts/languageNames.ts
  src/card.ts
  src/common/utils.ts
  src/fetcher/apiFetch.ts
  src/fetcher/repositoryFetch.ts
  src/getData.ts
  src/getRandomToken.ts
  src/icons.ts
  src/translations.ts
  themes/index.ts
Labels: ci, themes, stats-card, card-i18n, card

#131 feat: Added siny-gradient theme
  themes/index.ts
Labels: themes

#132 fix: reflected cross-site scripting
  api/index.ts
Labels: stats-card

#133 Bump @fajarkim/github-readme-profile from 1.0.3 to 1.0.4
  package-lock.json
  package.json
Labels: dependencies

#134 faet: Added Arabic translation for review and issues closed
  src/translations.ts
Labels: card-i18n

#135 feat: Added Arabic translation for discussions started and answered
  src/translations.ts
Labels: card-i18n

#140 infra(mergify): removed line 14
  .github/mergify.yml
Labels: github_actions

#141 build(deps): bump all depndencies and dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#142 chore(release): v1.0.5-beta.0
  package-lock.json
  package.json
Labels: dependencies

#143 feat: Added French translation for discussions started and answered
  src/translations.ts
Labels: card-i18n

#144 feat(theme): Added gruvbox and gruvbox_light themes
  themes/index.ts
Labels: themes

#145 feat(theme): Added apprentice theme
  themes/index.ts
Labels: themes

#146 feat(theme): Added radical theme
  themes/index.ts
Labels: themes

#147 feat(theme): Added tokyonight theme
  themes/index.ts
Labels: themes

#148 feat(theme): Added shades-of-purple theme
  themes/index.ts
Labels: themes

#149 feat(theme): Added ayu, ayu-light, and ayu-mirage themes
  themes/index.ts
Labels: themes

#150 chore(release): v1.0.5-beta.1
  package-lock.json
  package.json
Labels: dependencies

#151 fix(theme): Update github_dark, github_dark_dimmed, and github_light
  themes/index.ts
Labels: themes

#152 feat(theme): Added github_dark_highcontrast and github_light_highcontrast themes
  themes/index.ts
Labels: themes

#153 feat(theme): Added github_dark_tritanopia and github_light_tritanopia themes
  themes/index.ts
Labels: themes

#154 feat(i18n): Added Farsi translation
  src/translations.ts
Labels: card-i18n

#155 ci(test): Added test workflows
  .github/workflows/test.yml
  .gitignore
  jest.config.json
  package-lock.json
  package.json
  tests/renderCard.test.ts
  tsconfig.json
Labels: dependencies, github_actions, ci

#158 fix(theme): Updated catppuccin_latte, catppuccin_frappe, catppuccin_macchiato, and catppuccin_mocha themes for stroke color
  themes/index.ts
Labels: themes

#159 chore(release): v1.0.5-beta.2
  package-lock.json
  package.json
Labels: dependencies

#160 feat(i18n): Added Malay translation
  src/translations.ts
Labels: card-i18n

#161 feat(i18n): Added Sundanese translation
  src/translations.ts
Labels: card-i18n

#162 chore: revise code for readability
  scripts/generate-theme-doc.ts
  scripts/generate-translation-doc.ts
Labels: ci

#164 chore(release): v1.0.6
  package-lock.json
  package.json
Labels: dependencies

#165 feat(theme): Added merko theme
  themes/index.ts
Labels: themes

#168 build(deps): bump all dependencies and devDependencies version
  package-lock.json
  package.json
Labels: dependencies

#169 feat(i18n): Added Portuguese translation
  src/translations.ts
Labels: card-i18n

#170 feat(theme): Added carbonfox, dawnfox, dayfox, duskfox, nightfox, nordfox, and terafox themes
  themes/index.ts
Labels: themes

#171 feat(theme): Added purple-gradient theme
  themes/index.ts
Labels: themes

#172 feat(theme): Added humoris theme
  themes/index.ts
Labels: themes
