Repository FajarKim/github-readme-profile, pull requests merged in 2024-10, with the labels that each got.

#444 ci: update labeler actions
  .github/labeler.yml
  .github/workflows/label-pr.yml
Labels: github_actions, ci

#453 chore(release): v1.1.2
  package-lock.json
  package.json
Labels: dependencies

#454 feat: add `lavender_breeze` and `lavender_dream` themes
  themes/index.ts
Labels: themes

#456 feat: add `monochrome-light` and `monochrome-dark` gradient themes
  themes/index.ts
Labels: themes

#458 feat: add `endless-gradient` theme
  themes/index.ts
Labels: themes

#460 feat: add `twitch-gradient` theme
  themes/index.ts
Labels: themes

#461 docs(theme): auto update theme readme
  themes/README.md
Labels: doc-theme

#472 feat: add new option `photo_quality`
  api/index.ts
  src/card.ts
  src/getData.ts
  tests/card.test.ts
Labels: stats-card, card, hacktoberfest-accepted

#473 feat: add new option `photo_resize`
  api/index.ts
  src/card.ts
  tests/card.test.ts
Labels: stats-card, card, hacktoberfest-accepted

#475 docs: add description for new options `photo_quality` and `photo_resize`
  README.md
Labels: documentation, hacktoberfest-accepted

#476 feat: add new option `title`
  api/index.ts
  src/card.ts
  tests/card.test.ts
Labels: stats-card, card

#478 feat: add new option `revert`
  api/index.ts
  src/card.ts
  tests/card.test.ts
Labels: stats-card, card, hacktoberfest-accepted

#479 docs: add description for `title` and `revert` options
  README.md
Labels: documentation, hacktoberfest-accepted

#480 chore: move translations file and this documentation to `i18n` folder
  CONTRIBUTING.md
  README.md
  i18n/README.md
  i18n/index.ts
  i18n/languageNames.ts
  scripts/generate-translation-doc.ts
  src/card.ts
  tests/card.test.ts
  tests/renderDocsReadme.test.ts
  tests/renderStatsCard.test.ts
Labels: documentation, ci, card, hacktoberfest-accepted

#481 docs(theme): auto update theme readme
  themes/README.md
Labels: doc-theme

#483 docs(i18n): auto update translation readme
  i18n/README.md
Labels: doc-translation

#484 docs(i18n): auto update translation readme
  i18n/README.md
Labels: doc-translation

#485 refactor: README theme generation logic
  scripts/generate-theme-doc.ts
Labels: ci

#486 feat: add new format `xml`
  api/index.ts
Labels: stats-card, hacktoberfest-accepted

#487 docs: update README to include XML format option
  README.md
Labels: documentation, hacktoberfest-accepted

#488 ci: use environment variable for Codecov token in workflows
  .github/workflows/test.yml
Labels: github_actions, ci, hacktoberfest-accepted
